<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ title | striptags }}{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    {% block favicon %}
	<link
		rel="shortcut icon"
		href="{{ (favicon) | abs_url }}"
		type="image/x-icon"
	>
	{% endblock %}

	<!--vendor for slider-->



	

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/assets/vanila/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/assets/vanila/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/assets/vanila/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/assets/vanila/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/assets/vanila/css/style.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

		<!-- Bootstrap -->
		<link type="text/css" rel="stylesheet" href="/assets/vanila/css/bootstrap.min.css"/>

		<!-- Slick -->
		<link type="text/css" rel="stylesheet" href="/assets/vanila/css/slick.css"/>
		<link type="text/css" rel="stylesheet" href="/assets/vanila/css/slick-theme.css"/>

		<!-- nouislider -->
		<link type="text/css" rel="stylesheet" href="/assets/vanila/css/nouislider.min.css"/>

		<!-- Font Awesome Icon -->
		<link rel="stylesheet" href="/assets/vanila/css/font-awesome.min.css">

		<!-- Custom stlylesheet -->
		<link type="text/css" rel="stylesheet" href="/assets/vanila/css/style.css"/>
		<link type="text/css" rel="stylesheet" href="/assets/vanila/css/nav.css"/>

</head>
<body frappe-session-status="{{ 'logged-in' if frappe.session.user != 'Guest' else 'logged-out'}}" data-path="{{ path | e }}" {%- if template and template.endswith('.md') %} frappe-content-type="markdown" {%- endif %} class="{{ body_class or ''}}">
	{% include "public/icons/timeless/icons.svg" %}
	{% include "public/icons/espresso/icons.svg" %}
	{%- block banner -%}
		{% include "templates/includes/banner_extension.html" ignore missing %}

		{% if banner_html -%}
		{{ banner_html or "" }}
		{%- endif %}
	{%- endblock -%}
	
    

	{% include "templates/includes/navbar/navbar.html" ignore missing %}

       
		
		
   
	{% block content %}
		{{ content }}
	{% endblock %}

	{% include "templates/includes/footer/footer.html" ignore missing %}

	  <!-- Back to Top -->
	  <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    {% block base_scripts %}
	<!-- js should be loaded in body! -->
	<script>
		frappe.boot = {{ boot }}
		// for backward compatibility of some libs
		frappe.sys_defaults = frappe.boot.sysdefaults;
	</script>
	{{ include_script('frappe-web.bundle.js') }}
	{% endblock %}

	{%- for link in web_include_js %}
	{{ include_script(link) }}
	{%- endfor -%}

	{%- block script %}
		{% if colocated_js -%}
			<script>{{ colocated_js }}</script>
		{%- endif %}
	{%- endblock %}
	<!-- csrf_token -->
	{%- block body_include %}{{ body_include or "" }}{% endblock -%}

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script src="/assets/vanila/lib/wow/wow.min.js"></script>
    <script src="/assets/vanila/lib/easing/easing.min.js"></script>
    <script src="/assets/vanila/lib/waypoints/waypoints.min.js"></script>
    <script src="/assets/vanila/lib/counterup/counterup.min.js"></script>
    <script src="/assets/vanila/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/assets/vanila/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/assets/vanila/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/assets/vanila/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

	 <!-- Vendor JS Files -->
	 


	 <script src="/assets/vanila/js/jquery.min.js"></script>
		<script src="/assets/vanila/js/bootstrap.min.js"></script>
		<script src="/assets/vanila/js/slick.min.js"></script>
		<script src="/assets/vanila/js/nouislider.min.js"></script>
		<script src="/assets/vanila/js/jquery.zoom.min.js"></script>


		
		

    <!-- Template Javascript -->
    <script src="/assets/vanila/js/main1.js"></script>
	<script src="/assets/vanila/js/main.js"></script>
</body>

</html>